# Python
__pycache__/
*.py[cod]
venv/
*.db

# React
node_modules/
/build
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.vscode/
.idea/

# Misc
.DS_Store